doctype html(lang='en')
head
    // Looking at the source code I see, thanks for being so interested!
    meta(charset='utf-8')
    meta(name='description', content='daygrid.css introduction to media queries')
    meta(name='keywords', content='responsive, grid')
    meta(name='robots', content='index,follow')
    meta(content='daygrid.css is an easy to use grid that takes the effort out of trying to figure out more complex templates. This is my media query playground.', name='Description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title daygrid.css
    link(rel='stylesheet', href='styles/daygrid.css')
  body
    .grid-fluid
      .grid-container
        nav.row
          ol
            li
              a(href='#') Home
            li
              a(href='#headings') Type
            li
              a(href='#grid') Grid
            li
              a(href='#forms') Form
            li
              a(href='#buttons') Button
        .row
          h1.center.hero-row daygrid.css
          h2.center Just trying to stand out on the internet
        .row.center
          a.down-link(href='styles/daygrid.css')
            | Download Now
        .row.hero-row
          .col-4
            h4.center Boilerplate
            p.bigger-text.center.push-in Welcome to my bare bones stylesheet that has helped me make websites.
          .col-4
            h4.center Custom
            p.bigger-text.center.push-in
              | This page is intended to be the beginning of my custom css boilerplate grid code.
          .col-4
            h4.center Easy
            | 
            p.bigger-text.center.push-in
              | I hope that in the future this grid will be an easy entry point for new web developers.
        #headings.row.top-border
          h3 Headings
          p Headings are intended to grab attention and and create pagination for your flow.
          h1.margins Heading 1
          h2.margins Heading 2
          h3.margins Heading 3
          h4.margins Heading 4
          h5.margins Heading 5
          h6.margins Heading 6
        .row
          h3 Code Blocks
          p
            | You can start a block of code with the &lt;code&gt; element.  Use &lt;pre&gt; to start a multiline code seciton.
          .col-4
            pre.
              \n.resources {
                  hello;
              }              
            code int main(int argc, char** argv) {//code}
        #grid.row
          h3 Rows contain 12 columns
          p
            | The grid lives at the heart of what I was trying to create for myself. I wanted to understand how the big templates did it, and then do it smaller.
        .row.darker
          .col-1
            .card
              .card-in.center
                p.text.push-down
                  | col-1
          .col-11
            .card
              .card-in.center
                p.text.push-down
                  | col-11
        // row
        .row
          .col-2
            .card
              .card-in.center
                p.text.push-down
                  | col-2
          .col-10
            .card
              .card-in.center
                p.text.push-down
                  | col-10
        // row
        .row.darker
          .col-3
            .card
              .card-in.center
                p.text.push-down
                  | col-3
          .col-9
            .card
              .card-in.center
                p.text.push-down
                  | col-9
        // row
        .row
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
          .col-8
            .card
              .card-in.center
                p.text.push-down
                  | col-8
        // row
        .row.darker
          .col-5
            .card
              .card-in.center
                p.text.push-down
                  | col-5
          .col-7
            .card
              .card-in.center
                p.text.push-down
                  | col-7
        // row
        .row
          .col-6
            .card
              .card-in.center
                p.text.push-down
                  | col-6
          .col-6
            .card
              .card-in.center
                p.text.push-down
                  | col-6
        // row
        .row
          h3 Multiple Columns
          p We can also have multiple columns per row for more content.
    
        .row.darker
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
        // row
        .row
          .col-2
            .card
              .card-in.center
                p.text.push-down
                  | col-2
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
          .col-6
            .card
              .card-in.center
                p.text.push-down
                  | col-6
        // row
        .row
          h3 Offsets on Columns
          p
            | We can offset columns by certain amounts with the offset-# class, just make sure it all adds up to 12 if you&apos;re using the entire row.
          p Offsets just become nothing when you go mobile
    
        .row.darker
          .col-6.offset-3
            .card
              .card-in.center
                p.text.push-down
                  | col-6 offset-3
        // row
        .row
          .col-2.offset-2
            .card
              .card-in.center
                p.text.push-down
                  | col-2 offset-2
          .col-6
            .card
              .card-in.center
                p.text.push-down
                  | col-6
        // row
        .row.darker
          .col-4
            .card
              .card-in.center
                p.text.push-down
                  | col-4
          .col-6.offset-2
            .card
              .card-in.center
                p.text.push-down
                  | col-6 offset-2
        // row
        #forms.row
          h3 It&apos;s great for forms as well
          p
            | With this css sheet we can have simple text inputs inside columns to adjust their size.
        .row
          form
            .row
              .col-4
                input(type='text', name='name', placeholder='Name?')
              | 
              .col-4.offset-2
                input(type='text', name='name', placeholder='Story?')
            .row
              textarea(rows='4', cols='50', placeholder='Type Something')
            .row
              .col-4
                input(type='submit')
        #buttons.row
          h3 Or just some buttons
          p Buttons take up the size of ther column so we can control how big we want them.
          .col-2
            button Clicky
          .col-2.offset-1
            button Clicky
          .col-8
            button I&apos;m a Huge Button!
        .row
          h3 Thanks
          p
            | This site is by no means finished and I add things to it all the time when I think it looks cool.
      // grid-container
      .row.blue.center
        .grid-container
          p.text.push-down
            | Made by 
            a(href='https://davidyoung.tech') davidyoung.tech
      // row
    // grid-fluid